# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# IDE / editors
.vscode/
.idea/
*.swp

# Flask / database
instance/
*.sqlite
*.db

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Optional: Python packaging
build/
dist/
*.egg-info/

# Optional: Coverage reports
.pytest_cache/
htmlcov/
.coverage

# Output from web scraping
faller_catalogo/



# Quando si deve condividere il progetto bisogna togliere queste righe da questo file
# Evita di condividere il codice del progetto
webapp/blueprints
webapp/static
webapp/templates
webapp/tests
webapp/pytest.ini